[submodule "projects/ttpos-flutter"]
	path = projects/ttpos-flutter
	url = http://gitea-http.sisyphus.svc.cluster.local:3000/gitea_admin/ttpos-flutter.git
	branch = v2.20.0-ai-rebuild
[submodule "projects/ttpos-server-go"]
	path = projects/ttpos-server-go
	url = http://gitea-http.sisyphus.svc.cluster.local:3000/gitea_admin/ttpos-server-go.git
	branch = v2.20.0-ai-rebuild
